<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Chief List</title>
</head>
<body>

	<div th:insert="header.html"></div>

	<main id="main" style="margin-top: 50px;">

		<!-- ======= Chief List Section ======= -->
		<section id="list-chef" class="list-chef">
			<div class="container table-responsive" data-aos="fade-up">

				<div class="section-header">
					<h2>Chief List</h2>
					<p>
						List <span>Chief</span> Professional
					</p>
				</div>
				<table id="chefListTable" class="table ">
					<thead>
						<tr>
							<th>#</th>
							<th >Name</th>
							<th >Email</th>
							<th >Phone</th>
							<th >Designation</th>
							<th >Joined Date</th>
							<th >Description</th>
							<th >Action</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="chef,iterator:${listChef}">
							<td>[[${iterator.index+1}]]</td>
							<td>[[${chef.firstName}+' '+${chef.lastName}]]</td>
							<td>[[${chef.email}]]</td>
							<td>[[${chef.phone}]]</td>
							<td>[[${chef.designation}]]</td>
							<td>[[${chef.joinedDate}]]</td>
							<td>[[${chef.description}]]</td>
							<td>
								<a th:href="@{editChef(id=${chef.id})}"><input class="btn btn-success w-100 mb-2" type="submit" value="Edit"></a>
								<a th:href="@{'deleteChef/'+${chef.id}}"><input class="btn btn-danger w-100" type="submit" value="Delete"></a>
							</td>
						</tr>
					</tbody>


				</table>
				
				<script type="text/javascript">
					$(document).ready( function () {
						$('#chefListTable').DataTable();
					} );
				</script>
				
			</div>
		</section>
		<!-- End Chief List Section -->


	</main>
	<!-- End #main -->

	<div th:insert="footer.html"></div>

</body>
</html>